{{ template "header.html" . }}
{{ template "basic_navbar.html" . }}
<div class="container">
  <h1>Artists</h1>
  <div class="row">
    <div class="col-md-12">
      <table id="artist_listing_table" class="table table-hover">
        <thead>
          <tr>
            <td>Artist</td>
            <td>Number of Shows</td>
          </tr>
        </thead>
        <tbody>
          {{ range .Artists }}
          <tr>
            <td><a href="/artists/{{.Short_name}}">{{.Artist_name}}</a></td>
            <td>{{index $.ArtistsToNumShows .Artist_id}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ template "footer.html" . }}
