{{ template "header.html" . }}
<div class="container">
  <input type="hidden" id="artist_id" value="{{ .Artist_Id }}">
  <input type="hidden" id="artist_short_name" value="{{ .Artist_Short_Name }}">
  <h1>{{ .Artist_Name }} - New Concert</h1>

  <form>
  <div class="row">

    <div class="col-md-6">
      <h3>Details</h3>
      <div class="form-group">
        <label for="concertDate">Date</label>
        <input type="text" class="form-control" id="concertDate" placeholder="1993-02-02">
      </div>

      <div class="form-group">
        <label for="Venue">Venue</label>
        <input type="text" class="form-control" id="Venue" placeholder="The Electric Factory">
      </div>

      <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" id="City" placeholder="Philadelphia">
      </div>

      <div class="form-group">
        <label for="State">State / Province / Etc</label>
        <input type="text" class="form-control" id="State" placeholder="PA">
      </div>

      <div class="form-group">
        <label for="Country">Country</label>
        <input type="text" class="form-control" id="Country" placeholder="USA">
      </div>

      <div class="form-group">
        <label for="Notes">Notes</label>
        <textarea id="Notes" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="URL">URL</label>
        <input type="text" class="form-control" id="URL" placeholder="1996-08-13-Electric-Factory">
      </div>

    </div> <!-- info container -->

    <div class="col-md-6">
      <h3>Setlist</h3>
      <div id="setlist-container">
        <ul id="setlist-song-items" class="list-group">
        </ul>
        <div style="position:relative">
          <input id="song_search_string" type="text" size="50">
          <input id="autocomplete" song_id="-1" type="text" size="50" disabled="disabled">
          <button id="add_song_button" disabled="disabled">Add Song</button>
        </div>
      </div>  <!-- setlist container-->
    </div>

  </div>
  <button id="submitConcertButton" type="submit" class="btn btn-default">Submit</button>
  </form>

</div>

<script src="/static/js/jquery-2.2.3.min.js"></script>
<script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="/static/js/Sortable.js"></script>
<script>

  // Taken right from the README, sue me
  var el = document.getElementById('setlist-song-items');
  var sortable = Sortable.create(el);

  $('#submitConcertButton').click(function(e) {
    e.preventDefault();
    var artist_id = parseInt($("#artist_id").val());
    var artist_short_name = $("#artist_short_name").val();
    var concert_date = $('#concertDate').val();
    var venue = $('#Venue').val();
    var city = $('#City').val();
    var state = $('#State').val();
    var country = $('#Country').val();
    var notes = $('#Notes').val();
    var songs = $('#setlist-song-items li');
    var url = $('#URL').val();
    var serialized_songs = [];
    for (var i = 0; i < songs.length; i++) {
      serialized_songs.push(
        {
          "Song_id": parseInt($(songs[i]).attr('song_id')),
          "Order": i,
        }
      );
    }
    $.ajax({
        url: '/a/artists/'+artist_short_name+'/create',
        type: "POST",
        data: JSON.stringify(
          {
            "Artist_id": artist_id,
            "Date": concert_date,
            "Venue": venue,
            "City": city,
            "State": state,
            "Country": country,
            "Notes": notes,
            "Songs": serialized_songs,
            "URL": url,
          }
        ),
        contentType: "application/json",
        complete: function(resp) {
          var parsed_response = JSON.parse(resp.responseText);
          // TODO: redirect / do something appropriately here
        }
    });
  });

  $(".remove-button").click(function() {

  });

  $('#add_song_button').click(function() {
    var song_id = $('#autocomplete').prop('song_id');
    if (song_id !== undefined || song_id !== -1) {
      var button_element = '<button type="button" class="btn remove-button btn-sm btn-danger pull-right">Remove</button>'
      var song_title = $('#autocomplete').val();
      var new_list_element = '<li class="clearfix list-group-item" song_id="'+song_id+'">'+button_element+song_title;
        $('#setlist-song-items').append(new_list_element);

      $('#autocomplete').val('');
      $('#autocomplete').prop('song_id', "-1");
      $('#add_song_button').prop('disabled', true);
    }
  });


  $("#song_search_string").keyup(function() {
    var search_string = $("#song_search_string").val();
    var artist_id = parseInt($("#artist_id").val());
    if (search_string.length < 3) {
      return;
    }

    $.ajax({
        url: '/song/suggest',
        type: "POST",
        data: JSON.stringify(
        {"Artist_id": artist_id,
          "Search_string": search_string}
        ),
        contentType: "application/json",
        complete: function(resp) {
          var parsed_response = JSON.parse(resp.responseText);
          var Song_id = parsed_response.Song_id;
          var Song_title = parsed_response.Song_title;

          if (Song_id !== -1) {
            $('#autocomplete').prop('song_id', Song_id);
            $('#autocomplete').val(Song_title);
            $('#add_song_button').prop('disabled', false);
          }
        }
    });
  });
</script>
</body>
</html>
