{{ template "header.html" . }}
<div class="container">
  <h1>{{ .Artist_Name }} concerts</h1>
  <div class="row">
    <div class="col-md-12">
      <table id="artist_listing_table" class="table table-hover">
        <thead>
          <tr>
            <td>Date</td>
            <td>Venue</td>
          </tr>
        </thead>
        <tbody>
          {{ range .Concerts }}
          <tr>
            <td><a href="/artists/{{$.Short_Name}}/{{.URL}}">{{.Date.Format "2006-01-02"}}</a></td>
            <td>{{.Venue.Venue_name}} - {{.Venue.City}}, {{.Venue.State}} {{.Venue.Country}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ template "footer.html" . }}
