{{ template "header.html" . }}
<div class="container">
  <h1>{{ .Artist_Name }} - {{ .SongInfo.Song_name }}</h1>
  <div class="row">

    <div class="col-md-6">
      <h3> Song Information </h3>
      <dl id="play-stats" class="dl-horizontal">
        {{ if .SongInfo.FirstDate }}
        <dt>First Played:</dt>
        <dd><a href="/artists/{{ $.Artist_Short_Name }}/concert/{{ $.SongInfo.FirstURL }}">
          {{ $.SongInfo.FirstDate.Format "2006-01-02" }}</a>
        </dd>

        <dt>Last Played:</dt>
        <dd><a href="/artists/{{ $.Artist_Short_Name }}/concert/{{ $.SongInfo.LastURL }}">
          {{ $.SongInfo.LastDate.Format "2006-01-02" }}</a>
        </dd>

        <dt>Total Times Played:</dt>
        <dd>{{ $.SongInfo.TotalCount }}</dd>
        {{ end }}
      </dl>

      {{ if $.SongInfo.TotalCount }}
        <h3>Recently Played Dates:</h3>
          {{ range $index, $concert := .SongInfo.LastPlayedConcerts }}
          <a href="/artists/{{$.Artist_Short_Name}}/concert/{{ .URL }}">
            {{.Date.Format "2006-01-02"}} - {{ .Venue.Venue_name }}
          </a>
          <br>
          {{ end }}
      {{ end }}
    </div>

    <div class="col-md-6">
      <h3>Lyrics</h3>
      <pre>{{ .SongInfo.Lyrics }}</pre>
    </div>
  </div>
</div>
{{ template "footer.html" . }}
